@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/button/styles';

@import 'normalize.css';

@font-face {
  font-family: 'Avenir-Light';
  src: url('https://s3.amazonaws.com/rsrc.hanover/2021-22/fonts/Avenir-Light-07.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('https://s3.amazonaws.com/rsrc.hanover/2021-22/fonts/Avenir-Heavy-05.ttf')  format('truetype');
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('https://s3.amazonaws.com/rsrc.hanover/2021-22/fonts/Avenir-Black-03.ttf')  format('truetype');
}

$hanover-red: rgb(153, 0, 0);
$hanover-blue: rgb(63, 142, 218);

body {
	background-color: rgb(232, 232, 232);
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media screen and (max-width: 500px) {
		grid-template-columns: 1fr;
	}

	div.left {
		background-color: $hanover-red;
		text-align: center;
		font-family: 'Avenir-Light', sans-serif;
		color: #fff;
		padding-top: 1em;

		img {
			width: 90%;
			max-width: 420px;
		}
	}

	div.right {
		background-image: url('https://s3.amazonaws.com/rsrc.hanover/2021-22/img/header_image.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left top;

		@media screen and (max-width: 500px) {
			display: none;
		}

		img {
			height: 100%;
			width: 100%;
		}
	}
}

main {
	max-width: 1260px;
	margin: auto;
	background-color: #fff;
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: auto auto;
	font-family: 'Avenir-Light', sans-serif;

	@media screen and (max-width: 500px) {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
	}

	div.left {
		padding: 2rem 3rem;

		@media screen and (max-width: 500px) {
			grid-row-start: 1;
		}

		h2, strong {
			font-family: 'Avenir-Heavy', sans-serif;
		}

		ul {
			list-style: none;
			margin-top: 3em;

			@media screen and (max-width: 500px) {
				padding-left: 0;
			}
		}

		li {
			margin-top: 1.5em;
			display: flex;
			align-items: flex-start;

			span {
				line-height: 1.7em;
			}
		}

		li::before {
			content: '•';
			color: $hanover-blue;
			font-size: 2em;
			margin-top: -0.3rem;
			margin-right: 0.5rem;
		}
	}

	div.right {
		@media screen and (max-width: 500px) {
			grid-row-start: 3;
		}

		form {
			padding: 1.5rem 1.5rem 2.5rem;
			background-color: rgb(139, 176, 198);

			h2, > p {
				color: #fff;
				font-family: 'Avenir-Light', sans-serif;
				text-align: center;
			}

			input {
				box-sizing: border-box;
				width: 100%;
				padding: 0.5rem;
				margin-top: 0.65em;
				border-radius: 4px;
				border-width: 1px;
				border-color: #ddd;
				border-style: solid;
			}

			#fn, #ln, #em, #ph, #pn {
				display: none;
			}

			div.learn-more {
				background-color: rgb(2, 50, 79);
				color: #fff;
				padding: 1.5rem 1.5rem 0.5rem;
				margin: 1rem 0 0.35em;
				border: solid 1px #fff;
				border-radius: 6px;
				text-align: center;

				p {
					margin: 0 0 0.5rem;
					padding: 0;

					span {
						white-space: nowrap;
					}
				}

				#triangle-down {
					width: 0;
					height: 0;
					border-left: 20px solid transparent;
					border-right: 20px solid transparent;
					border-top: 20px solid $hanover-blue;
					margin: auto;
				}
			}

			input.ckb {
				display: none;
			}

			label {
				text-align: center;
				margin-top: 0.5rem;
				padding: 1rem;
				border: solid 1px #000;
				display: block;
			}

			label.mdc-button {
				height: auto;

				span.mdc-button__label {
					font-size: 1rem;
					color: #fff;
					font-family: 'Avenir-Black', sans-serif;
				}
			}

			button.mdc-button {
				width: 100%;
				margin-top: 1.5em;
				border-color: #fff;
				border-radius: 10px;
				background-color: $hanover-blue;
				font-weight: bold;
				height: 60px;
				padding: 0.85rem 0;

				span.mdc-button__ripple {
					border: solid 1px #fff;
					border-radius: 10px;
				}

				span.mdc-button__label {
					font-size: 1.25rem;
				}
			}

			.loader {
				display: none;
			}
		}
	}

	div.aerial {
		background-image: url('https://s3.amazonaws.com/rsrc.hanover/2021-22/img/fall_aerial.jpg');
		background-size: cover;
		height: 600px;
		grid-column-start: span 2;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media screen and (max-width: 500px) {
			grid-row-start: 2;
			height: 300px;
		}

		h2 {
			background-color: $hanover-red;
			color: #fff;
			margin: 0;
			padding: 1.5rem;
			text-align: center;
			font-family: 'Avenir-Heavy', sans-serif;
		}
	}
}

footer {
	text-align: center;
	font-family: 'Avenir-Light', sans-serif;
	padding: 1.5rem;
	font-weight: bold;
	color: $hanover-red;

	img {
		max-width: 380px;
		margin-bottom: 1.5rem;
	}
}